 <img class="card-img-top" [src]='menuItem.image' alt="Card image cap">
     <div class="card-body">
         <h5 class="card-title">
             {{menuItem.name}}
         </h5>
         <p class="card-text">
             {{menuItem.descr}}
         </p>

         <ul class="list-group list-group-flush">
             
         <span *ngIf="admin">
             <li class="list-group-item">
                 <button 
                     class="btn btn-primary btn-lg btn-block"
                     (click)="editMenuItem()"
                     >
                 Update
                 </button>
             </li>
         </span>
             
             
            <span *ngIf="loggedIn">
                <li class="list-group-item">
                    
                    <span *ngIf="!ordered">    
                            <button 
                            class="btn btn-primary btn-lg btn-block"
                            value="Order"
                             (click)="order()" 
                             >       
                             Order
                            </button>
                    </span>
                    <span *ngIf="ordered">
                            <button 
                            class="btn btn-primary btn-lg btn-block"
                            value="delete order"
                             (click)="deleteOrder()" 
                             >
                             delete order
                            </button>
                    </span>
                </li>
            </span>

             
             <span *ngIf="admin">
             <li class="list-group-item">                  
                 <button
                    class="btn btn-primary btn-lg btn-block"
                    (click)="deleteMenuItem()">
                 delete 
                 </button>
             </li>
             </span>


         </ul>
     </div>


     <!--
         
        
    -->