<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row flex-row" >
        <div 
    class="card" 
    style="width: 18rem;" 
    *ngFor="let res of restaurants"
    >
        <img
         class="card-img-top"
         [src]='res.image' 
         alt="Card image cap"
        >
        <div class="card-body">
            <h5 class="card-title">{{res.name}}</h5>
            <p class="card-text">
                {{res.city}}, 
                {{res.street}}
            </p>

            <div class="list-group">
                
                <span *ngIf="admin"> 
                <button  class="btn btn-outline-primary" (click)="updateRestaurant(res.id)" >
                    Update
                </button>
                </span>

                
                <button class="btn btn-outline-primary" (click)="ShowMenu(res.id)">
                    show menu items
                </button>
                
                <span *ngIf="loggedIn">
                <button class="btn btn-outline-primary" (click)="showOrders(res.id)">
                    show Orders
                </button>
                </span>
                
                <span *ngIf="loggedIn">
                <button class="btn btn-outline-warning" (click)="rateRest(res.id)">
                    rate
                </button>
                </span>

                <span *ngIf="admin">
                <button class="btn btn-outline-danger" (click)="deleteRest(res.id)">
                    Delete
                </button>
                </span>                
              
            </div>

            <div class="panel-footer">
               
               
            </div>
        </div>
  </div>
</div>
</div>







