
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"  >Talabat</a>
    <button (click)="navigateToResList()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <button
        class="btn btn-primary btn-lg btn-block" 
        (click)="navigateToResList()" 
        >       
        Home
        </button>
        </li> 

       <span *ngIf="admin">
        <li class="nav-item"> 
        <button
        class="btn btn-primary btn-lg btn-block" 
        (click)="navigateToAddRes()" 
        >       
        add restaurant
        </button>
        </li>
        </span>

      <span *ngIf="loggedIn">
        <li class="nav-item"> 
        <button
        class="btn btn-primary btn-lg btn-block" 
        (click)="navigateToAllOrders()" 
        >       
        show all orders
        </button>
        </li>
      </span>

      <span *ngIf="defaultUser">
        <li class="nav-item"> 
        <button
        class="btn btn-primary btn-lg btn-block" 
        (click)="navigateToLogIn()" 
        >       
        LogIn
        </button>
        </li>
      </span>

      <span *ngIf="loggedIn">
        <li class="nav-item">
          <a class="nav-link">Hello {{user.name}}</a>
        </li>
      </span>
      <span *ngIf="defaultUser">
        <li class="nav-item">
            <button
            class="btn btn-primary btn-lg btn-block" 
            (click)="navigateToRegister()" 
            >       
            Register
            </button>
        </li>
      </span> 
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>