<app-nav-bar></app-nav-bar>
<div class="card" style="width: 18rem;">
<div class="container-fluid">
    <div class="row flex-row" >
        <div *ngFor="let i of _menu_items">
            <app-menu-item [menuItem]="i"  (newItemEvent)="refreshList()"></app-menu-item>
        </div>        
    </div>
</div>
</div>
<footer class="page-footer font-small blue pt-4">
    
    <span *ngIf="admin">
    <button 
        class="btn btn-dark btn-lg btn-block"
        (click)="addMenuItem()" 
    >
    ADD MENU ITEM
    </button>
    </span>

    <span *ngIf="loggedIn">
    <button 
    class="btn btn-dark btn-lg btn-block" 
    (click)="showOrders()"
    >
        show Orders
    </button>
    </span>
</footer>