<app-nav-bar></app-nav-bar>
<div *ngFor="let res of _restaurants">
        <h2>Orders of {{res.name}}</h2>
    <div class="container-fluid">
        <div class="row flex-row" >
            <div *ngFor="let i of getResOrders(res)">
                <div class="card" style="width: 18rem;">
                    <img 
                        class="card-img-top"
                        [src]='i.image' alt="image not found!"
                    >
                    <div class="card-body">
                    <h5 class="card-title">
                        {{i.name}}
                    </h5>
                    <p class="card-text">
                        {{i.descr}}
                    </p>
                    <p class="card-text">
                    {{i.id}}
                </p>
                <p class="card-text">
                    {{i.rest_id}}
                </p>
                <p class="card-text">
                    {{i.ordered}}
                </p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
        
                    </li>
                    <li class="list-group-item">
                        <div *ngIf=" checkOrdered(res.id,i.id); then ordered else notordered"></div>
                            <ng-template #notordered>
                                <button
                                    class="btn btn-primary btn-lg btn-block" 
                                    (click)="orderMenuItem(i)" 
                                    >       
                                Order
                                </button>
                            </ng-template>
                            <ng-template #ordered>
                                <button 
                                    class="btn btn-primary btn-lg btn-block"
                                    (click)="deleteOrder(i)" 
                                    >
                                delete order
                                </button>
                            </ng-template>
                    </li>

                    <li class="list-group-item">  

                    </li>
                    </ul>
                </div>
            </div>   
        </div>
    </div>
</div>     
    <div>
        <button 
            class="btn btn-dark btn-lg btn-block" 
            (click)="goTOMain()" 
            >
            Back to Restaurants List
        </button>
    </div>

