<app-nav-bar></app-nav-bar>
<p>register-user works!</p>
<p>login works!</p>
<!--{{message}}-->
<form #f="ngForm" (ngSubmit)="submit(f)">

  <div class="form-group">
    <label for="username">Username
    </label>
    <input ngModel required type="text" name="username" class="form-control" id="username">
  </div>

  <div class="form-group">
      <label for="username">Password
      </label>
      <input ngModel required type="text" name="password" class="form-control" id="password">
  </div>
<!--
  <p>
      {{f.value | json}}
      {{message | json}}
      {{body | json}}

  </p>
-->
<input 
class="btn btn-primary" 
type="submit" 
value="Submit" 
[disabled]="f.invalid"
>

</form>
